a {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #222; 
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: lightblue;
}
h1,
h2,
p {
    text-align: center;
}
body {
    font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        transition: all 0.2s ease;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
a:hover { 
    background-color: #524e4e;
     transform: translateY(-2px); }

a:active {
     transform: translateY(1px);
     background-color: #160f0f; }
     .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(8px);
}
body {
    position: relative;
    background-color: lightblue;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;

    opacity: 0.15;

    z-index: -1;
}