a {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #222; 
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: #D6C2A8;
}
h1,
h2,
p {
    text-align: center;
}
body {
    font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        transition: all 0.2s ease;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
a:hover { 
    background-color: #524e4e;
     transform: translateY(-2px); }

a:active {
     transform: translateY(1px);
     background-color: #160f0f; }
     .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(8px);
}
body {
    position: relative;
    background-color: #D6C2A8;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;

    opacity: 0.15;

    z-index: -1;
}
/* Botones principales de las redes */

.social-main {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 400px;

    padding: 15px;
    margin: 0 auto 12px auto;

    box-sizing: border-box;

    border: 1px solid #333;
    border-radius: 10px;

    background-color: #856641;
    opacity: 0.75;
    color: #222;
   

    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;

    transition: all 0.2s ease;
}


/* Cuando pasamos el ratón por encima */

.social-main:hover {
    background-color: #e4ddd5;
    transform: translateY(-2px);
}


/* Cuando pulsamos */

.social-main:active {
    transform: translateY(1px);
    background-color: #d8d0c7;
}


/* Icono */

.social-icon {
    width: 30px;
    font-size: 22px;
    text-align: left;
}


/* Nombre */

.social-main > span:nth-child(2) {
    flex: 1;
    text-align: center;
}


/* Flecha */

.arrow {
    width: 30px;
    font-size: 18px;
    text-align: right;

    transition: transform 0.3s ease;
}

.social-links {
    max-width: 400px;
    margin: -2px auto 12px auto;

    overflow: hidden;

    max-height: 0;
    opacity: 0;

    transition:
        max-height 0.4s ease,
        opacity 0.3s ease;
}
.social-group.open .social-links {
    max-height: 200px;
    opacity: 1;
}
.social-group.open .arrow {
    transform: rotate(180deg);
}